<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit">
        <title>App</title>
    </head>

    <body>
        <h1 class="some-class">Hello, World</h1>
            <form action="" method="POST" align = "center">
                <input type="text" name="spl" placeholder="Sepel Length(CM)"><br>
                <input type="text" name="spw" placeholder="Sepel Width(CM)"><br>
                <input type="text" name="ptl" placeholder="Petal Length(CM)"><br>
                <input type="text" name="plw" placeholder="Petal Width(CM)"><br>
                <button class="btn btn-success">Predict</button>

            </form>
    </body>
</html>
